CONFIG_BASE64=y
CONFIG_INCLUDE_RESET_VECTOR=y
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_NS16550=y
CONFIG_UART_NS16550_ACCESS_WORD_ONLY=y
CONFIG_CONSOLE_HANDLER=y
CONFIG_XIP=n
CONFIG_INIT_STACKS=y
CONFIG_SYS_CLOCK_TICKS_PER_SEC=25000000
CONFIG_FPU=y
CONFIG_POWEROFF=y

# PTP RTC
CONFIG_PTP_CLOCK_HA1588=y
CONFIG_PTP_CLOCK_HA1588_TSU=y

# RNG
CONFIG_TIMER_RANDOM_GENERATOR=y
CONFIG_TEST_RANDOM_GENERATOR=y

# IRQs
CONFIG_MULTI_LEVEL_INTERRUPTS=y
CONFIG_2ND_LEVEL_INTERRUPTS=y
# 1 PLIC
CONFIG_NUM_2ND_LEVEL_AGGREGATORS=1
CONFIG_1ST_LEVEL_INTERRUPT_BITS=7
CONFIG_2ND_LEVEL_INTERRUPT_BITS=23
CONFIG_PLIC=y
CONFIG_3RD_LEVEL_INTERRUPTS=n
CONFIG_3RD_LEVEL_INTERRUPT_BITS=0

# Ethernet / Networking
CONFIG_DMA=y
CONFIG_DMA_64BIT=y
CONFIG_DMA_XILINX_AXI_DMA=y
CONFIG_ETH_DRIVER=y
CONFIG_NET_L2_ETHERNET=y
CONFIG_ETH_XILINX_AXIENET=y
CONFIG_MDIO=y
CONFIG_PHY_GENERIC_MII=y
CONFIG_MDIO_XILINX_AXI_ENET=y
CONFIG_NET_L2_ETHERNET_MGMT=y
CONFIG_NET_PKT_RX_COUNT=32
CONFIG_NET_BUF_RX_COUNT=64
CONFIG_NET_PKT_TX_COUNT=32
CONFIG_NET_BUF_TX_COUNT=64
# 64*1514 (buffer size), rounded to nex power of 2
CONFIG_NET_PKT_BUF_RX_DATA_POOL_SIZE=131072
CONFIG_NET_PKT_BUF_TX_DATA_POOL_SIZE=131072
CONFIG_NET_TC_RX_COUNT=1
CONFIG_NET_TC_TX_COUNT=1

CONFIG_NET_BUF_VARIABLE_DATA_SIZE=y

# need to init DMA before ethernet, as ethernet uses DMA
CONFIG_DMA_INIT_PRIORITY=79
CONFIG_ETH_INIT_PRIORITY=80

CONFIG_NETWORKING=y
CONFIG_NET_IPV4=y
CONFIG_NET_TCP=y
# IPV6 not selected - depends on board
CONFIG_NET_CONFIG_SETTINGS=y
CONFIG_NET_CONFIG_NEED_IPV4=y
CONFIG_NET_CONFIG_MY_IPV4_ADDR="192.0.2.1"
CONFIG_NET_CONFIG_PEER_IPV4_ADDR="192.0.2.2"

CONFIG_PTP_CLOCK_HA1588=y

CONFIG_SKADI_NET_ZEROCOPY=y

# pulp timer
CONFIG_PULP_APB_TIMER=y

# must initialize ASAP, before other devices
# should be loaded before devices that rely on it, so should be initialized first
CONFIG_INTC_INIT_PRIORITY=0

# DMA_XILINX_AXI_DMA_LOCK_CHANNEL_IRQ will not work with CONFIG_NET_TC_RX_COUNT=0
# the RX handler might trigger TX
# CONFIG_DMA_XILINX_AXI_DMA_LOCK_DMA_IRQS will not work with CONFIG_NET_TC_RX_COUNT!=0
# TX can be triggered from thread, which may start with scheduler IRQ
# so we have to lock all IRQs to be safe
CONFIG_DMA_XILINX_AXI_DMA_LOCK_ALL_IRQS=y
CONFIG_DMA_XILINX_AXI_DMA_SG_DESCRIPTOR_NUM_RX=8
CONFIG_DMA_XILINX_AXI_DMA_SG_DESCRIPTOR_NUM_TX=8

# immediately raise interrupt on RX
CONFIG_DMA_XILINX_AXI_DMA_INTERRUPT_THRESHOLD=1

CONFIG_DMA_LOG_LEVEL_WRN=y

CONFIG_SOC_SERIES_CV64A6_PROVIDE_NONSTANDARD_CACHE_OPTIONS=y
# cache integration will handle this
CONFIG_DMA_XILINX_AXI_DMA_DISABLE_CACHE_WHEN_ACCESSING_SG_DESCRIPTORS=n

# debug
# CONFIG_DEBUG=y
# CONFIG_DEBUG_OPTIMIZATIONS=y
# CONFIG_SPEED_OPTIMIZATIONS=y
# CONFIG_NO_OPTIMIZATIONS=y
# TODO collides with Skadi stacks at the moment
CONFIG_STACK_SENTINEL=n
CONFIG_LOG=y
CONFIG_LOG_MODE_MINIMAL=y
CONFIG_LOG_DEFAULT_LEVEL=3
CONFIG_THREAD_NAME=n
CONFIG_DEBUG_THREAD_INFO=n
# CONFIG_SKADI_SUBSYSTEM_CALL_NOCHECKS=y
# CONFIG_ASSERT=y

# earliest-possible console
CONFIG_EARLY_CONSOLE=y
CONFIG_SERIAL_INIT_PRIORITY=0
CONFIG_CONSOLE_INIT_PRIORITY=1

CONFIG_ISR_STACK_SIZE=4096
CONFIG_MAIN_STACK_SIZE=4096
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=4096
CONFIG_IDLE_STACK_SIZE=4096
CONFIG_NET_TCP_WORKQ_STACK_SIZE=4096
CONFIG_NET_TX_STACK_SIZE=4096
CONFIG_NET_RX_STACK_SIZE=4096
CONFIG_NET_MGMT_EVENT_STACK_SIZE=4096

# TLS not currently available with Skadi
CONFIG_CURRENT_THREAD_USE_TLS=n

# libc
CONFIG_PICOLIBC_USE_MODULE=y
# not supported yet
CONFIG_THREAD_LOCAL_STORAGE=n

# LLEXT
CONFIG_LLEXT=y
# build/expect binary
CONFIG_LLEXT_TYPE_ELF_RELOCATABLE=y
# no (additional) copying of the ELFs
CONFIG_LLEXT_STORAGE_WRITABLE=n
CONFIG_LLEXT_LOG_LEVEL_WRN=y
# 128 kb
CONFIG_LLEXT_HEAP_SIZE=128
CONFIG_LLEXT_EXPORT_DEVICES=y
CONFIG_LLEXT_SYMBOL_GC=y

# Skadi
CONFIG_SKADI_OS=y
CONFIG_SKADI_LOG_LEVEL_INF=y
CONFIG_SKADI_SUBSYSTEM_LOG_LEVEL_INF=y
CONFIG_SKADI_GENESYSII=y
CONFIG_SKADI_ISR_STACK_SIZE=1024
# PLIC is loaded at run time
CONFIG_SOC_SERIES_CV64A6_HAS_PLIC=n
# TODO during transition to fully compartmentalized OS, run sched in task 0
CONFIG_SKADI_SCHEDULER_RUNS_WITH_LOADER_TASK_ID=n
# this can overflow when prints are involved, especially in shell subsystem
CONFIG_SKADI_SUBSYSTEM_STACK_SIZE=8191
CONFIG_SKADI_LIBC_HAS_NO_TID_PROTECTION=y
CONFIG_BOOT_BANNER_STRING="Booting Skadi OS build"
CONFIG_SKADI_NUUK=y
CONFIG_SKADI_CACHE_INTEGRATION=y
CONFIG_SKADI_RESET_BRANCH_TABLE_ON_SUBSYSTEM_CALL=n
CONFIG_SKADI_LIBC_INLINE=y
# subsystem call options ARE supported
CONFIG_SKADI_SUBSYSTEM_CALL_INSTRUCTIONS=y
# fast reg zero options ARE supported
CONFIG_SKADI_FAST_REG_ZERO_INSTRUCTION=y
# access to operations via CSRs and MMIO is supported
CONFIG_SKADI_OPS_MODULE_CSRS=y
# CONFIG_SKADI_OPS_MODULE_MMIO=y

CONFIG_SKADI_ALLOCATOR_FIRST_FIT=y

# needed for drivers to compile
CONFIG_DEVICE_STORE_DT_ID=y

# CONFIG_SKADI_DEBUG=y
# CONFIG_SKADI_ALLOCATOR_DEBUG=y
# CONFIG_SKADI_DEBUG_UNRESTRICTED_ROOT_CAP=y
# CONFIG_SKADI_DEBUG_UNRESTRICTED_STACK=y
# CONFIG_SKADI_DISABLE_TASK_RESTRICTION_FOR_CODE_DATA=y
# CONFIG_SKADI_DISABLE_WRITE_PREVENTION_FOR_CODE_RO_DATA=y
# CONFIG_SKADI_TRACK_CYCLES_OPS=y
# CONFIG_SKADI_COUNT_SUBSYSTEM_CALLS=y
# CONFIG_SKADI_COUNT_SUBSYSTEM_CALL_ALLOC_ITERATIONS=y
# CONFIG_SKADI_COUNT_YIELD_CALLS=y

CONFIG_SKADI_OS_DEBUG_CAP_NUM=n
# config options to test the scheduler interrupt
# forces timer ticks a few times per second, running the timer interrupt
# CONFIG_TICKLESS_KERNEL=n
# TODO default value (=hardware clock ticks) crashes inexplicably in MQTT, but slightly reduced values work fine
CONFIG_SYS_CLOCK_TICKS_PER_SEC=10000
CONFIG_SKADI_ASSUME_IRQ_REGFILE=y
CONFIG_RISCV_GP=n
CONFIG_SKADI_LIBRARY_LOCAL_CLOCK=y
# CONFIG_SKADI_TRACK_CYCLES_OPS=y

# not exported
CONFIG_SPIN_VALIDATE=n

# global per-subsystem pool - can be relatively large
CONFIG_SKADI_SUBSYSTEM_CALLER_TRAMPOLINE_NUM_REGISTER_SETS=16
CONFIG_SKADI_SUBSYSTEM_CALLEE_TRAMPOLINE_NUM_STACKS=32
